@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&display=swap');
.card-b{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: rgb(244, 250, 244);
    font-size: large; 
}

.card-b :hover{
    background-color: rgb(204 247 204);
    /* border: 3px solid green; */
}
.img-fluid{
    padding-left: 45%;
    padding-top: 5%;
    padding-bottom: 2%;
    height: 100px;
}
.display-2{
    font-size: 60px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}
.cont-main{
    /* height: 700px; */
    display: inline; 
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}
 
@media screen and (max-width: 600px) {
    .img-fluid{
        padding-left: 40%;
        padding-top: 5%;
        padding-bottom: 2%;
        height: 100px;
    }
    .display-2{
        font-size: 30px;
        text-align: center;
        font-family: 'Baloo Bhai 2', cursive;
    }
    .easysteps{
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .display-2{
        font-size: 20px;
        text-align: center;
        font-family: 'Baloo Bhai 2', cursive;
    }
    .easysteps{
        font-size: 10px;
    }
}
@media screen and (max-width: 240px) and (min-width: 220px)  {
    .img-fluid{
        padding-left: 35%;
        padding-top: 5%;
        padding-bottom: 2%;
        height: 100px;
    }
}
@media screen and (max-width: 220px) {
    .img-fluid{
        padding-left: 30%;
        padding-top: 5%;
        padding-bottom: 2%;
        height: 100px;
    }
}