<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css\contact.css">

    <script src="https://kit.fontawesome.com/9c720a986d.js" crossorigin="anonymous"></script>


    <title>ContactUs-Foodica</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky">
        <div class="container-fluid">
            <a href="home"><img class="logo-img" src="static/home/logo.png" width="60" height="60" ALT="align box" ALIGN=CENTER></a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse nav-item" id="navbarSupportedContent">
                <div class="navbar-nav w-100">
                    <a class="nav-link mb-lg-0 coolBeans cool" aria-current="page" href="home">
                        Home
                    </a>&emsp;&emsp;
                    <a class="nav-link coolBeans cool2" href="aboutus">
                        About Us
                    </a>&emsp;&emsp;
                    <!-- <a class="nav-link coolBeans cool3" href="">
                        Orders
                    </a>&emsp;&emsp; -->
                    <a class="nav-link coolBeans" href="contactus">
                        Contact Us
                    </a>&emsp;&emsp;
                </div>
                {% if user.is_authenticated %}
                <div class="nav_b nav navbar-nav ml-auto w-100 justify-content-end" id="left_sign">
    
                    <div class="dropdown">
                        <!--Dropdown CSS at newhome.css-->
                        <button type="button" class="btn btn-outline-light prof dropbtn" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            title="Profile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
                                </path>
                            </svg> {{user.first_name}}
                        </button>
                        <!-- dropdown content -->
                        <div class="dropdown-content">
                            <a href="myprofile">My Profile</a>
                            <a href="logout">Logout</a>
                        </div>
                    </div>
                    {% else %}
                    <div class="nav_b nav navbar-nav ml-auto w-100 justify-content-end" id="left_sign">
    
                      <a href="user_login">
                          <button type="button" class="btn btn-outline-light prof " data-bs-toggle="modal"
                              data-bs-target="#exampleModal2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                              title="Sign Up/sign In">
                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                  class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd"
                                      d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z">
                                  </path>
                                  <path fill-rule="evenodd"
                                      d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z">
                                  </path>
                              </svg> Sign Up/Sign In
                          </button>
                      </a>
                   </div>
                   {% endif %}
            </div>

        </div>
    </nav>
    <!-- image -->
    <div id="carouselExampleCaptions" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active carousel-img-set">
                <!-- <img height="600" width="1400" src="https://c.wallhere.com/photos/1b/52/food_rice-291633.jpg!d" class="d-block w-100 responsiveimg" alt="..."> -->
                <div class="carousel-caption d-none d-md-block text-warning text-md-center"
                    style="padding-bottom: 100px;">

                </div>
                <div class="container py-5">
                    <div class="output" id="output">
                        <h1 class="cursor"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div><br><br>

    <!-- location,email and phn -->

    <div class="container_loc">
        <div
            class="row lte-block-icon has-descr icons-count-4 lte-icon-space-md lte-icon-shape-default lte-icon-background-disabled lte-icon-border-disabled lte-icon-color-main lte-icon-divider-dashed lte-icon-padding- lte-icon-size-small lte-header-color-black lte-icon-type-top lte-hover-animation-yes layout-cols4">
            <div class="col">
                <div class="lte-inner">
                    <span class="lte-icon-content">
                        <span class="lte-header">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-geo-alt-fill fa-flag" viewBox="0 0 16 16">
                                <path
                                    d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z">
                                </path>
                            </svg><br>
                            <b>Location</b> </span>
                        <div class="lte-descr">Bandra, Mumbai
                            Maharashtra</div>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="lte-inner">
                    <div class="vertical"></div>
                    <span class="lte-icon-content">
                        <span class="lte-header">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-telephone-fill fa-flag" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z">
                                </path>
                            </svg><br>
                            <b>Phones</b> </span>
                        <a href="tel: (+91) 8530392350"><div class="lte-descr">(+91) 8530392350</div></a>

                    </span>
                </div>
            </div>
            <div class="col">
                <div class="lte-inner">
                    <div class="vertical"></div>
                    <span class="lte-icon-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-envelope-fill fa-flag" viewBox="0 0 16 16">
                            <path
                                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z">
                            </path>
                        </svg><br><b>Email </b></span>
                    <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox?compose=CllgCJqbQBqKTVgQlMcPNtPQqJSqHbHkPShScTqmNKDBgTNJnnxgThpWddFVrbDfhMZPtJpmrXq"><div class="lte-descr">hello@techmihirnaik.in</div></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>


    <div class="arrow">
        <a href="#" title="back to top"><span class="fas fa-angle-up"></span></a>
    </div>
    <!-- map -->
    <div class="container_map" style="width: 100%;">
        <section>
            <div id="map-container-google-2" class=" map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d860.9557188480112!2d78.04556382641054!3d30.327555612098585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1626979088781!5m2!1sen!2sin"
                    width="100%" height="100%" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
    </div><br>
    <br><br>



    <!-- contactus -->

    <div class="containerf">
        <div class="contentf">
            <div class="image-boxf">
                <img src="static/img/contact img.png" alt="">
            </div>
            <form action="{% url 'contactus' %}" method="POST">
                    <p style="color:green">{{ message }}</p>
                {% csrf_token %}
                <div class="topic">Send us a message</div>
                <div class="input-boxf">
                    <input name="name" type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-boxf">
                    <input name="email" type="text" placeholder="Enter your email" required>
                </div>
                <div class="input_msg">
                    <textarea name="msg" class="subject_msg" id="subject" name="subject" placeholder="Enter Your Message"
                        style="height:100px"></textarea>
                </div>
                <br><br><br><br><br>
                <div class="input-boxf">
                    <input type="submit" value="Send Message">
                </div>
            </form>
        </div>
    </div> <br><br>



    <!-- cards -->
    <div class="containerc" style="align-self: center;">
        <div class="row">

            <div class="col-sm">
                <div class="cardc">
                    <div class=" box">
                        <div class="content">

                            <h3><b>Report a Safety Emergency</h3><br>
                            <p>We are committed to the safety of everyone using Foodica.</b><br><br>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="cardc">
                    <div class="box">
                        <div class="content">

                            <h3><b>Issue with your live order?</h3><br>
                            <p>Click on the 'Support' or 'Online ordering help' section
                                to connect to our customer support team.</b>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="cardc">
                    <div class=" box">
                        <div class="content">

                            <h3><b>Issue with Foodica Pro?</h3><br>
                            <p>Click on the 'Pro help' section in your app to connect to our Pro
                                support team.</b>
                            </p>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <br><br>


    <!-- footer -->
    <div class="foot-body">


        <footer>
            <div class="foot-container">
                <div class="foot-row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="aboutus">about us</a></li>
                            <li><a href="error">our services</a></li>
                            <li><a href="term-&-conditions">privacy policy</a></li>
                            <li><a href="error">Careers</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="help-&-support">FAQ</a></li>
                            <li><a href="contactus">Contact Us</a></li>
                            <li><a href="error">order status</a></li>
                            <li><a href="error">payment getaways</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Newsletter</h4>
                        <ul>
                            <li><a href="help-&-support">Support</a></li>
                            <li><a href="complaints">Complaints</a></li>
                            <li><a href="error">Media</a></li>
                            <li><a href="term-&-conditions">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="https://www.facebook.com/techmihirnaik/"><i class="fab fa-facebook-f"></i></a>
                            <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                            <a href="https://instagram.com/techmihirnaik?igshid=9jia5fme3o4r"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/techmihirnaik"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div> <br>
                        
                        <h4>Subscribe For More</h4>
                        <!-- <div class="follow">
                            <button class="submit1">Subscribe</button>
                        </div> -->
                        <form>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Enter your E-mail"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                            </div>
                            <div class="follow">
                                <button class="submit1" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyrighttext">
            <p><b><em>Copyright © 2021 All rights reserved | Managed by Techmihirnaik</em></b></p>
        </div>
    </div>


</body>

<script src="static/js\text_animation.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</html>